{% extends 'base.html' %}
  {% block title %}
   Об авторе
  {% endblock %}
  {% block content %}
    {% load static %}
    <h3>О себе:</h3><br>
    <p>
      Артём, python backend developer<br><br>
      
      Люблю красивый и эффективный код.<br><br>

      Dream to develop! &#128640;

    </p><br><br>
    <center>
      <a href="https://github.com/rock4ts" style="color: rgb(0, 103, 33)">Github page</a><br><br>
      <img src="{% static 'img/matrix_cat.png' %}" width="120" height="120" class="center" alt="MatrixCat">
    </center>
  {% endblock %}
  
  {% comment %}
  --------<br><br>
      
  An adept of continious learning inspired by logic and order.<br>
  In love with subtlety and efficiency of programming.<br><br>
  
  My motto:
  Dream and develop! &#128640;
  {% endcomment %}