{% extends 'base.html' %}
  {% block title %}
   Об авторе
  {% endblock %}
  {% block content %}
    {% load static %}
    <h3>Об авторе:</h3><br>
    <p>
      Артём Сухов, начинающий веб-программист<br><br>
      
      Люблю строить и понимать системы - чем богаче система, тем интересней!<br>
      В программировании вижу большое пространство для реализации моих творческих и карьерных амбиций.<br><br>
      
      Dream and develop! &#128640;
    </p><br><br>
    <center>
      <a href="https://github.com/rock4ts">My github page</a><br><br>
      <img src="{% static 'img/matrix_cat.png' %}" width="120" height="120" class="center" alt="MatrixCat">
    </center>
  {% endblock %}
  