{% extends 'base.html' %}
{% load thumbnail %}
{% load user_filters %}
{% block title %}
  {{ post.text|slice:":30" }}
{% endblock %}
{% block content %}
  <div class="row">
    <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
              Дата публикации: {{ post.pub_date }}
          </li>
          {% if post.group %}
            <li class="list-group-item">
              Тема: 
              <a href={% url "posts:group_posts" post.group.slug %}>
              {{ post.group }}</a>
            </li>
          {% endif %}
          <li class="list-group-item">
            Автор: {{ post.author.get_full_name }}
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Всего постов автора: {{ post.author.posts.count }}
          </li>
          {% if user.id == post.author.id %}
            <li class="list-group-item">
              <a href={% url "posts:post_edit" post.id %}>
                Редактировать запись</a>
            </li>
            <li class="list-group-item">
              <a href={% url "posts:post_delete" post.id %}>
                Удалить запись</a>
            </li>
          {% endif %}
          <li class="list-group-item">
            <a href={% url "posts:profile" post.author.username %}>
              Все посты пользователя</a>
          </li>
        </ul>
    </aside>
  
    <article class="col-12 col-md-9">
      {% thumbnail post.image "900x500" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <p>{{ post.text }}</p>
    
      {% if user.is_authenticated %}
        <div class="card my-4">
          <h7 class="card-header">Добавить комментарий:</h7>
          <div class="card-body">
            <form method="post" action="{% url 'posts:add_comment' post.id %}">
              {% csrf_token %}
              <div class="form-group mb-2">
                {{ form.text|addclass:"form-control"}}
              </div>
              <div class="justify-content-end" align="right">
                <button type="submit" class="btn btn-primary">Отправить</button>
              </div>
            </form>
          </div>
        </div>
      {% endif %}
        {% for comment in post_comments %}
          <hr>
          <div class="media bm-4">
            <div class="media-body">
              <div id="HASH">
                <h6 class="mt-0">
                  <a href="{% url 'posts:profile' comment.author.username %}">
                    {{ comment.author.username }}</a>
                </h6>
                {% if comment.is_edited %}
                  <small>(edited)</small>
                {% endif %}
              </div>
                  {{ comment.text }}
              {% if user.id == comment.author.id %}
                <div style="text-align:right;">
                  <small><a href={% url "posts:edit_comment" comment.pk %}>
                    Редактировать</a></small>
                  <br>
                  <small><a href={% url "posts:delete_comment" comment.pk %}>
                    Удалить </a></small>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
    </article>
  </div> 
{% endblock %}

<ul class="list-group list-group-flush">
  <li class="list-group-item">
      Дата публикации: {{ post.pub_date }}
  </li>