{% extends "base.html" %}
{% block title %}Пароль изменён{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        {% with card_header='Пароль изменён' card_body='Пароль успешно изменён.'%}
          {% include 'users/includes/card_elems.html' %}
        {% endwith %}
        <div class="card-footer">
          <div class="row justify-content-center">
            <a href="{% url 'posts:index' %}" class="btn btn-primary">
              На главную
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
